:root {
  --black: #000000;
  --gray: #424141;
  --silver: #a1a1a1;
  --white: #ffffff;
  --maroon: #800000;
  --red: #ff0000;
  --purple: #800080;
  --green: #008000;
  --violet: #6f23e9;
  --cyan: #34d2fa;
  --navy-blue: #000080;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--silver);
  color: var(--white);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--red);
  margin-bottom: 1.5rem;
  text-align: center;
}

#new-track-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-track-input {
  flex: 0.5 0 0%;
  background-color: var(--gray);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--cyan);
  font-size: 1.25rem;
}

#new-track-input::placeholder {
  font-style: italic;
  color: var(--silver);
  width: 100%;
}

#new-track-submit {
  color: var(--purple);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--purple), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

#new-track-submit:hover {
  opacity: 0.8;
}

#new-track-submit:active {
  opacity: 0.2;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.track-list {
  padding: 1rem;
  padding-bottom: 3rem;
}

.track-list h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 1.5rem;
  text-align: center;
}

#tracks .track {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.text {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  transition: 0.5;
}

.edit,
.delete {
  color: var(--purple);
  font-size: 1.15rem;
}

#tracks .track .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.track .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.4s;
}

.track .actions button:hover {
  opacity: 0.8;
}

.track .actions button:active {
  opacity: 0.2;
}

.track .actions .edit {
  background-image: linear-gradient(to right, var(--cyan), var(--green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.track .actions .delete {
  background-image: linear-gradient(to right, var(--green), var(--cyan));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
